<div class="lock-screen" *ngIf="pinService.isLocked">
  <div class="lock-box">
    <h2>Enter 4-Digit PIN</h2>

    <!-- PIN INPUT -->
    <div class="pin-dots">
      <span *ngFor="let d of [0,1,2,3]; let i = index"
            [class.filled]="i < pin.length">
      </span>
    </div>

    <p class="error" *ngIf="error">Invalid PIN</p>

    <!-- DIAL PAD -->
    <div class="dial-pad">
      <button *ngFor="let n of numbers" (click)="press(n)">
        {{ n }}
      </button>

      <button class="empty"></button>

      <button (click)="press(0)">0</button>

      <button class="clear" (click)="remove()">⌫</button>
    </div>
  </div>
</div>